<html>
    <head>
        <title>Visang-cdn</title>
    </head>
    <body>
        <button id="myBtn" onclick="getURL()">GET One-time URL</button>>
        <script type="text/javascript">
            function getURL() {
                location.href="/cf/cdn";
            }
        </script>
    </body>
</html>